<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Add New Item</h2>
	<form action="" method="POST">
		<input type="text" name="itemName" placeholder="Item Name" /> <br />
		<br /> <input type="text" name="itemDescription"
			placeholder="Item Description" /> <br /> <br />
		<div>
			<select name="categoryName"> {% for category in categories
				%}
				<option value={{category.id}}>{{category.name}}</option> {% endfor
				%}
			</select>
		</div>
		<br /> <input type="submit" name="submit" value="Add" /> <span>|</span> 
				<input	type="submit" name="submit" value="Cancel" /> <br />
	</form>
</body>
</html>