<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Add New Category</h2>
	<form action="" method="POST">
		<input type="text" name="categoryName" placeholder="Category Name" />
		<br /> <br /> 
		<!-- <input type="text" name="categoryDescription" placeholder="Category Description" /> <br /> <br /> --> 
		<input type="submit"  name="submit"  value="Add" /> <span>|</span> 
		<input type="submit"  name="submit"	value="Cancel" /> <br />
	</form>
</body>
</html>