<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Shafeeq-Catalog Project</title>
</head>
<body>
	<h1>
		<a href="#">Login</a>
	</h1>
	<h1>
		<a href="#">Logout</a>
	</h1>
	<h2>Categories</h2>
	<form action="#" method="POST">
		<a href="{{url_for('add_category')}}">Add New Category</a> <br /> <br />
		{% for category in categories %}
		<div>
			<a
				href="{{url_for('show_category_items', category_name = category.name)}}">{{category.name}}
			</a> <br /> <br />
		</div>
		{% endfor %}
	</form>
</body>
</html>